@{ Page.Title = "Sobre"; }

<hgroup class="title">
    <h1>@Page.Title</h1>
    <h4 class="muted-text">Uma breve descrição das coisas</h4>
</hgroup>
<hr />
<article>
    <p>
        O maior desafio foi (de tempos em tempos) conseguir o Visual Studio e manter ele aberto, funcionando sem que ele parasse por algum erro interno.
        Que raiva, acho que devo ter perdido ao menos 3h nessa brincadeira de abrir e fechar até entender o que ele não estava conseguindo 
        processar e 'fechar do nada'. No final deu tudo ok, ainda bem rs.
    </p>
    <p>
        Para este, tive que estudar Entity Framework e também o MVC 5. Estes dois foram a primeira vez que vi e apliquei em um projeto. Precisei
        fazer uma revisão de JavaScript também, para montar os RegEx principalmente, mesmo que tenham me deixado na mão rs, não sei o porque ainda, 
        mas vou descobrir.
    </p>
    <p>
        Mesmo que não consiga passar, consegui aprender bastante coisa em tão pouco tempo que a experiência fez valer a pena.
        Foi bem corrido mas é assim mesmo. Segue o jogo!
    </p>
</article>

<aside>
    <h3>Observação</h3>
    <p>
        Não consigo ler nada.
    </p>
</aside>