@{ Page.Title = "Contato"; }

<hgroup class="title">
    <h1>@Page.Title</h1>
        <h4 class="muted-text">Melhor anotar!</h4>
</hgroup>
<br />
<div id="" style="margin-left: 10%;">
    <div id="imagem" style="border: 0px black solid; position: relative; margin-left: -25%; width: 350px; height: 350px;">
        <img src="~/Content/img/contato.jpg" width="350" height="350" alt="WhoAmI" style="border-radius: 5px;" />
    </div>
    <div id="informacoes" style="position: relative;margin-top: -40.75%; margin-left: 18%; width: 500px; height: 350px;">
        <section class="contact">
            <header>
                <h3>Telefone:</h3>
            </header>
            <p>
                <span class="label">Principal:</span>
                <span>(11)97637-4111</span>
            </p>
            <p>
                <span class="label">Horários disponíveis da qual posso atender ligações:</span><br />
                <span>10:00 AM ~ 17:00 PM</span>
            </p>
        </section>
        <br />
        <section class="contact">
            <header>
                <h3>Email:</h3>
            </header>
            <p>
                <span class="label">Principal:</span>
                <span><a href="gustavot53@gmail.com">gustavot53@gmail.com</a></span>
            </p>
            <p>
                <span class="label">Gamming:</span>
                <span><a href="godlike.gamer@live.com">godlike.gamer@live.com</a></span>
            </p>
        </section>
        <br />
        <section class="contact">
            <header>
                <h3>Endereço Atual:</h3>
            </header>
            <p>
                Jardim Cumbica<br />
                Guarulhos, SP 07240-040
            </p>
        </section>
    </div>
</div>